.hero-container {
	margin-top: 8rem;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: [1] auto [2] auto [3] auto;
	align-items: start;
}

#logo {
	justify-self: start;
	width: 96px;
	height: 96px;
}

.hero-container p {
	margin-top: 2rem;
	max-width: 506px;
}

.blue-text {
	color:#2950FF;
}

.ampersand {
	color:#2950FF;
	/*background: linear-gradient(0deg, rgba(41,80,255,0.00) 0%, #2950FF 60%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;*/
	font-weight: bold;
}

.contact-links {
	margin-top: 1rem;
	margin-bottom: 8rem;
	grid-row: 3;
}

.email:hover {
	color: #2950FF;
	border-color: #2950FF;
}

.dribbble:hover {
	color: #EA4C89;
	border-color: #EA4C89;
}

.linkedin:hover {
	color: #0A66C2;
	border-color: #0A66C2;
}

.dribbble, .linkedin {
	margin-left: 1.5rem;
}

@media only screen and (min-width: 722px) {
	.hero-container {
		grid-template-columns: [left] 38% [right] auto;
		grid-template-rows: [1] auto [2] auto;
		max-width: 816px;
	}

	#logo {
		width: 224px;
		height: 224px;
		margin-right: 32px;
	}

	.hero-container p {
		margin-top: 0;
		justify-self: end;
	}

	.contact-links {
		margin-top: .75rem;
		grid-row: 2;
		grid-column: right;
	}
}