.full-width-img {
	width: 100%;
	margin: 1rem auto;
	max-width: 816px;
}

.half-width-img {
	width: 100%;
	margin: 1rem auto;
	max-width: 444px;
}

.video-container {
	margin: 1rem 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
}

.bezel {
	width: 100%;
	max-width: 432px;
	z-index: 2;
}

.video {
	width: 86.80555556%;
	max-width: 375px;
}

.video, .bezel {
	grid-column: 1;
	grid-row: 1;
}
