.full-width-img {
	width: 100%;
	margin: 1rem auto;
	max-width: 816px;
}

.half-width-img {
	width: 100%;
	margin: 1rem auto;
	max-width: 444px;
}

.chalkflow-container {
	width: 100%;
	margin-top: .5rem;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F2F5F8;
	padding: 16px 0;	
}

.chalkflow {
	width: 281px;
}