.full-width-img {
	width: 100%;
	margin: 1rem auto;
	max-width: 816px;
}

.half-width-img {
	width: 100%;
	margin: 1rem auto;
	max-width: 444px;
}

.video-container {
	margin: 1rem 0;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
}

.bezel {
	width: 100%;
	max-width: 432px;
	pointer-events: none;
	z-index: 2;
}

.video {
	width: 86.80555556%;
	max-width: 375px;
}

.video, .bezel {
	grid-column: 1;
	grid-row: 1;
}

.caption-container {
	text-align: center;
	margin-bottom: 1rem;
}

.prototype-link {
	border-color: #2950ff;
}

.prototype-link:hover {
	color: #2950ff;
}

.multivideo-container {
	grid-template-columns: auto auto;
}

.quadvideo-container {
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

.multivideo-container, .quadvideo-container {
	margin: 1rem 0;
	display: grid;
	max-width: 816px;
	grid-gap:16px;
	background-color: #F7FAFC;
	border-radius: 16px;
	padding: 16px;
}

.multivideo {
	width: 100%;
  	height: auto;
  	border-radius: 8px;
}

@media only screen and (min-width: 722px) {

	.quadvideo-container {
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto;
	}
} 