@font-face {
  font-family: "Sohne";
  src: url(/fonts/soehne-web-buch.woff2) format("woff2");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url(/fonts/soehne-web-buch-kursiv.woff2) format("woff2");

  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url(/fonts/soehne-web-dreiviertelfett.woff2) format("woff2");

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: normal;
}

p {
  font-size: 16px;
  font-weight: normal;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (min-width: 722px) {
  p {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: #8b8f9b;
  }
}
