@font-face {
  font-family: "Sohne";
  src: url(/fonts/soehne-web-buch.woff2) format("woff2");

  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Sohne";
  src: url(/fonts/soehne-web-buch-kursiv.woff2) format("woff2");

  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Sohne";
  src: url(/fonts/soehne-web-dreiviertelfett.woff2) format("woff2");

  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: normal;
}

code {
  font-size: 14px;
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  padding: 0.15rem 0.2rem;
  border-radius: 4px;
}

ul {
  list-style-type: disc;
}

ul > li {
  margin-left: 2rem;
  line-height: 2;
}

li::marker {
  color: var(--text-secondary);
  font-size: 14px;
}

p,
li {
  font-size: 16px;
  font-weight: normal;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: normal;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  color: var(--text-secondary);
  margin: 2rem 0 0.5rem 0;
}

@media only screen and (min-width: 722px) {
  code {
    font-size: 16px;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    padding: 0.15rem 0.2rem;
    border-radius: 4px;
  }

  ul > li {
    margin-left: 1rem;
  }

  li::marker {
    font-size: 16px;
  }

  p,
  li {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
    color: var(--text-secondary);
    font-weight: normal;
  }

  h3 {
    margin: 1rem 0 0.5rem 0;
    font-size: 17px;
  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: #8b8f9b;
  }
}
