.secondary-text {
  font-size: 14px;
  color: #8B8F9B;
}

.tertiary-text, footer {
  font-size: 14px;
  color: #DCDEE1;
}

.small-width-container {
  max-width: 630px;
  margin: 0 auto;
  overflow: hidden;
}

.portfolio-content-container {
  margin: 4rem 0 4rem 0;
}

@media only screen and (min-width: 722px) {

  .secondary-text {
    font-size: 18px;
    color: #8B8F9B;
  }

  .tertiary-text {
    font-size: 18px;
    color: #DCDEE1;
  }
}
