@font-face {
  font-family: "Sohne";
  src: url(../fonts/soehne-web-buch.woff) format("woff"),
    url(../fonts/soehne-web-buch.woff2) format("woff2");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url(../fonts/soehne-web-buch-kursiv.woff) format("woff"),
    url(../fonts/soehne-web-buch-kursiv.woff2) format("woff2");

  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url(../fonts/soehne-web-dreiviertelfett.woff) format("woff"),
    url(../fonts/soehne-web-dreiviertelfett.woff2) format("woff2");

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
  color: var(--wash-secondary);
}

p {
  font-size: 16px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (min-width: 722px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: #8b8f9b;
  }
}
