.header {
	position:fixed;
	top:0;
	width: 100%;
	padding: 1rem 0;
	z-index: 10;
	background-color: rgba(255, 255, 255, .9);
}

.header-flex {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.name {
	margin-right: auto;
	margin-left: 0;
}

.link{
	margin-left: 1.5rem;
}

a.active {
	border-color:#2950FF;
}