.header {
	background-color: rgba(255,255,255,.80);
	/*position: fixed;*/
	width: 100%;
	padding: 1rem 0;
	/*z-index: 2;*/
}

.header-flex {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.header p {
	margin-right: auto;
}

.header a {
	margin-left: 1.5rem;
}