@font-face {
  font-family: "Sohne";
  src: url(/fonts/soehne-web-buch.woff2) format("woff2");

  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Sohne";
  src: url(/fonts/soehne-web-buch-kursiv.woff2) format("woff2");

  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "Sohne";
  src: url(/fonts/soehne-web-dreiviertelfett.woff2) format("woff2");

  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

h1 {
  font-size: var(--font-l);
  line-height: var(--lh-l);
  margin-bottom: 0.5rem;
}

h2 {
  font-size: var(--font-m);
  line-height: var(--lh-m);
  font-weight: bold;
  margin: 1.25rem 0 0.5rem 0;
}

h3 {
  font-size: var(--font-s);
  line-height: var(--lh-s);
  font-style: italic;
  font-weight: normal;
  margin: 1.25rem 0 0.5rem 0;
  color: var(--text-secondary);
}

p {
  font-size: var(--font-s);
  line-height: var(--lh-s);
}

a {
  font-size: var(--font-s);
  text-decoration: none;
  color: var(--text-primary);
  font-weight: normal;

  background-image: linear-gradient(
    var(--text-underline),
    var(--text-underline)
  );

  background-size: 100% 1px;
  background-position: left 1.15em;
  background-repeat: no-repeat;

  text-shadow: 0.1em 0 var(--bg-primary-hex), -0.1em 0 var(--bg-primary-hex);

  /* font-size: var(--font-s);
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: normal; */
}
a:hover {
  color: var(--text-secondary);
  text-decoration: none;
  cursor: pointer;
  /* color: var(--color-primary);
  cursor: pointer; */
}

li {
  font-size: var(--font-s);
  line-height: var(--lh-s);
  margin: 0.5rem 0;
}

li::marker {
  font-size: var(--font-s);
  color: var(--text-secondary);
}

ul > li {
  margin-left: 1.5rem;
}

ul {
  list-style-type: disc;
}

code {
  font-family: ui-monospace, monospace;
  font-size: var(--font-xs);
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  padding: 0.05rem 0.2rem 0.1rem 0.2rem;
  border-radius: 1px;
}

@media only screen and (min-width: 722px) {
  h1 {
    font-size: var(--font-l);
    line-height: var(--lh-l);
    margin-bottom: 0.25rem;
  }

  h2 {
    font-size: var(--font-m);
    line-height: var(--lh-m);
    font-weight: bold;
    margin: 0.75rem 0 0.25rem 0;
  }

  h3 {
    font-size: var(--font-s);
    line-height: var(--lh-s);
    font-style: italic;
    font-weight: normal;
    margin: 0.75rem 0 0.25rem 0;
    color: var(--text-secondary);
  }

  p {
    font-size: var(--font-s);
    line-height: var(--lh-s);
  }

  li {
    margin: 0.25rem 0;
  }

  ul > li {
    margin-left: 0.75rem;
  }
}
