.z-container {
  height: 100px;

  width: 100px;
  color: blue;
}

.caption {
  font-size: var(--font-xs);
  line-height: var(--lh-xs);
  font-weight: normal;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--text-secondary);
}

@media only screen and (min-width: 722px) {
  .z-ontainer {
    margin: 2rem auto 1.1rem auto;
    color: yellow;
  }

  .caption {
    font-size: var(--font-xs);
    line-height: var(--lh-xs);
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0.5rem;
    color: var(--text-secondary);
  }
}
