a:hover > .cs-container {
	transform: scale(1.05);
	cursor:pointer;
}

.cs-container {
	margin-bottom: 4rem;
	display: grid;
	grid-template-columns: auto;
	align-items: start;
	transition: .2s ease-in-out;
}

.cs-img {
	width: 100%;
	max-width: 400px;
	margin-top: 8px;
	align-self: center;
	justify-self: end;
}

@media only screen and (min-width: 445px) {
	.cs-container {
		grid-template-columns: 50% 50%;
	}

	.cs-img {
		margin-top: 0;
	}
}